
#sidenav-collapse-main{
    overflow: unset;
}

.product {
    padding-top: 30px;
}

.title-detail-movie {
    margin-bottom: 40px; color: white
}

.anime__video__player {
    margin-bottom: 10px;
}

.content-detail-movie {
    border-radius: 10px;
    border: 1px solid #AAAAAA;
    padding: 20px;
    color: white;
}
